<!DOCTYPE html>
<html lang="en">
<head>
	<link href="{{ asset('bundles/binaerpilotengraphwiki/images/favicon.ico') }}" rel="SHORTCUT ICON">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GraphWiki</title> 
	{% block stylesheets %}
		<link href="{{ asset('bundles/binaerpilotengraphwiki/css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/binaerpilotengraphwiki/css/custom.css') }}" rel="stylesheet">
		{% block tplstyle %}
		{% endblock %}
	{% endblock %} 
	{% block javascript %}
		<script src="https://code.jquery.com/jquery.min.js"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script	src="{{ asset('bundles/binaerpilotengraphwiki/js/bootstrap.min.js') }}"></script>
		{% block tplscript %}
		{% endblock %}
	{% endblock %}
</head>

<body>
	<div class="container">
		{% include "BinaerpilotenGraphWikiBundle:navbar:main.html.twig" %}
		<div class="row">
			<div class="col-md-12">
				<div class="well">
					{% block body %}
						{% block fos_user_content %}
						{% endblock %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
