{% extends 'BinaerpilotenGraphWikiBundle::index.html.twig' %}

{% block tplscript %}
	<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
	<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
{% endblock %}


{% block body %}
    {{ form_start(form) }}
    <h1>Neue Seite: {{ form_widget(form.title) }}</h1>
    
        {{ form_widget(form.content) }}
        <input type="submit" value="Anlegen" />
    {{ form_end(form) }}
{% endblock %}
