{% extends 'BinaerpilotenGraphWikiBundle::index.html.twig' %}

{% block body %}
    <h1>{{ page.title }}</h1>
    
    <div>
    	{{ page.content }}
    </div>

    <hr>
    
    <ul>
        <li><a href="{{ path('page_list') }}">Alle Seiten</a></li>
        <li><a href="{{ path('page_edit', { 'pagename': page.title }) }}">Ändern</a></li>
    </ul>
{% endblock %}
